<ul class="pagination">
    <li ng-class="{disabled: paginate.page_number === 1}">
        <a ng-click="prevPage()" href="javascript:void(0)">«</a>
    </li>
    <li class="disabled" ng-show="paginationCtrl.pageFactor() > 1">
        <a href="javascript:void(0)" class="disabled">...</a>
    </li>
    <li ng-show="paginationCtrl.pageFactor() > 0" ng-class="{active: paginate.page_number === $index + paginationCtrl.pageFactor()}" ng-repeat="i in paginationCtrl.getTimes() track by $index">
        <a href="javascript:void(0)" ng-click="setPage($index + paginationCtrl.pageFactor())">{{$index + paginationCtrl.pageFactor()}}</a>
    </li>
    <li class="disabled" ng-show="paginationCtrl.pageFactor() < (paginationCtrl.getTotalPages() - 15)">
        <a href="javascript:void(0)" class="disabled">...</a>
    </li>
    <li ng-class="{disabled: (paginate.page_number === paginationCtrl.getTotalPages())}">
        <a ng-click="nextPage()" href="javascript:void(0)">»</a>
    </li>
</ul>